<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="logo-android"></ion-icon> Logo
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" class="ion-text-center" style="text-align: center;">
  <div style="background-color: #3E9BFF; padding: 36px; height: 296px;">
    <img src="../../assets/icon/logo-bg.png" width="147" height="153">
    <h1 style="color: #CAE3FE; font-size: 20px; font-weight: bold;">DENTAL ALARM</h1>
  </div>
  <br>
  <h2 style="color: #007BFF; font-size: 32px; font-weight: normal;">Bienvenido</h2>
  <br>
  <br>
  <p style="font-size: 18px; color: #000000;opacity: 0.5;">Ingresa tu celular</p>
  <ion-item>
    <ion-input type="tel" style="font-size: 25px; opacity: 0.5; text-align: center;"></ion-input>
  </ion-item>
  <br>
  <div style="text-align: center;">
    <ion-button style="border-radius: 9px; ">Iniciar Sesión</ion-button>
  </div>
</ion-content>
