<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="logo-android"></ion-icon> Logo
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" class="ion-text-center">
  <div style="background-color: #3E9BFF; padding: 20px;">
    <h1 style="color: white;">DENTAL ALARM</h1>
  </div>
  <h2>Bienvenido</h2>
  <p>Ingresa tu celular</p>
  <ion-item>
    <ion-label position="floating">Celular</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>
  <ion-button expand="block" color="primary">Iniciar Sesión</ion-button>
</ion-content>