<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tus Citas</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Categoría de Cita</ion-card-title>
      <ion-card-subtitle>Estado</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      10/04/2024 11:00
    </ion-card-content>
  </ion-card>

  <!-- Repeat the above ion-card for the other appointments -->


  <ion-title class="ion-text-center section-title">Control Ortodoncia</ion-title>
  <ion-text class="ion-text-center section-text">Miércoles, 10 de abril de 2024 11:00 AM</ion-text>

  <ion-row class="ion-justify-content-center">
    <ion-button color="primary">
      <ion-icon slot="start" name="alarm"></ion-icon>
      Ver alarmas
    </ion-button>
    <ion-button color="danger">
      <ion-icon slot="start" name="close-circle"></ion-icon>
      Cancelar cita
    </ion-button>
  </ion-row>
</ion-content>
