@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../assets/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Definir tus propias variables de color
$primary-color: #3E9BFF; // Ejemplo de color primario personalizado
$secondary-color: #007BFF; // Ejemplo de color secundario personalizado
$white-color: #FFFFFF;
body {
  font-family: 'Roboto', sans-serif !important;
}

a {
  color: $secondary-color !important;
  font-size: 16px;
  font-family: 'Roboto-Light';
  text-decoration: none !important;
    border: none !important;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid $secondary-color;
  border-radius: 0 !important;
  font-weight: lighter;
  font-size: 20px;
  font-family: 'Roboto-Thin';
}

.bg-custom{
  background-color: $primary-color !important;
}

.custom-container {
  max-width: 639px;
  /* Ancho máximo */
  margin: 0 auto;
  /* Centrar el contenido horizontalmente */
  border: 1px solid $secondary-color;
  border-radius: 9px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.40);
  overflow: hidden;
}

.logo-container {
  background-color: $primary-color;
  height: 153px;
  text-align: center;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  overflow: hidden;
  margin-left: -20px;
  margin-right: -40px;
    margin-top: -20px;
  vertical-align: middle;
}

.logo-container img {
  vertical-align: middle;
}

h4{
  color: $primary-color !important;
  font-size: 34px !important;
  font-family: 'Roboto-Medium';
}

h2 {
  color: $primary-color !important;
  font-size: 45px !important;
  font-family: 'Roboto-Medium';
  }

.center{
  text-align: center;
}

.button-primary{
  background-color: $secondary-color !important;
  width: 167px;
  height: 41px;
  color: $white-color;
  border-radius: 5px;
  border-style: none;
  border: none;
  font-family: 'Roboto';
  font-size: 18px;
}

.button-primary:hover {
  background-color: $primary-color !important;
  width: 167px;
  height: 41px;
  color: $white-color;
  border-radius: 5px;
  border-style: none;
  border: none;
}

.thin-text{
 font-family: 'Roboto-Light';
}

.nav-color
{
  color: $white-color !important;
}


/* Estilo para los títulos de las columnas */
.table th {
  font-family: 'Roboto-Medium' !important;
  color: $secondary-color !important;
  border-bottom: 1px solid $primary-color !important;
font-size: 20px;
}

/* Estilo para alinear a la izquierda el contenido de las celdas de categoría y paciente */
.table td {
  text-align: left !important;
  font-family: 'Roboto-Light';
  font-size: 20px;
  border: none;
}

.table td:hover {
  text-align: left !important;
  font-family: 'Roboto-Light';
  font-size: 20px;
  border: none;
}

.table tr:hover {
  background-color: $secondary-color !important;
  cursor: pointer;
}

/* Estilo para los íconos de acciones */
.table .actions-button {
  background: none !important;
  /* Fondo transparente */
  border: none !important;
  /* Sin borde */
  padding: 0 !important;
  /* Sin espacio interno */
}

/* Estilo para el ícono de acciones */
.table .actions-button i {
  color: $secondary-color !important;
  /* Color azul */
}

/* Estilo para el hover de los registros */
.table tbody tr:hover {
  background-color: $secondary-color !important;
  /* Fondo azul en hover */
  color: white !important;
  /* Texto blanco en hover */
}

/* Estilo para eliminar los márgenes de los registros */
.table tbody tr {
  margin: 0 !important;
}

.container-custom
{
  padding: 50px !important;
}
