<nav class="navbar navbar-expand-md bg-custom navbar-primary fixed-top">
  <div style="margin-left: 20px;">
    <img src="../../assets/images/logo-bg.png" width="52" height="52" alt="Logo">
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link nav-color">Paciente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-color">Citas</a>
      </li>

    </ul>
  </div>
</nav>